---
- import_tasks: repository.yml
  tags: 1_repository,slave

- import_tasks: install.yml
  tags: 2_install,slave

- import_tasks: initialize.yml
  tags: 3_init
  when: postgresql_service != "patroni"

- import_tasks: postgresql_conf.yml
  tags: 4_config
  when: postgresql_service != "patroni"

- import_tasks: patroni-setup.yml
  tags: 4_config
  when: postgresql_service == "patroni"

- import_tasks: security.yml
  tags: 5_security

- import_tasks: start.yml
  tags: 6_startdb
  when: postgresql_service != "patroni"

- name: Check patroni api responce
  # This task is essential to determine current master
  # and run powa tasks on him instead of entire cluster
  uri:
    url: http://localhost:8008
    body_format: json
    status_code: [200, 503]
  register: get_master
  check_mode: no
  when: postgresql_service == "patroni" 

#- name: Get Master server.
  # This task is essential to determine current master
  # and run powa tasks on him instead of entire cluster
#  postgresql_query:
#    query: SELECT pg_is_in_recovery();
#  register: output
#  check_mode: no

- import_tasks: powa.yml
  tags: powa
  when: postgresql_service != "patroni" or
    (get_master.json.role == "master" and postgresql_service == "patroni")

- import_tasks: repmgr.yml
  tags: repmgr
  when: postgresql_service != "patroni"
