---
- import_tasks: repository.yml
  tags: 1_repository

- import_tasks: install.yml
  tags: 2_install

- import_tasks: initialize.yml
  tags: 3_init

- import_tasks: postgresql_conf.yml
  tags: 4_config

#- import_tasks: pg_hba_conf.yml
#  tags: 5_security

- import_tasks: start.yml
  tags: 5_startdb

- import_tasks: extensions.yml
  tags: extensions

- import_tasks: pgbackrest.yml
  tags: pgbackrest

- import_tasks: pgbouncer.yml
  tags: pgbouncer

- import_tasks: pgbadger.yml
  tags: pgbadger

- import_tasks: tools.yml
  tags: tools

- import_tasks: mamonsu.yml
  tags: mamonsu
