##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

# move this section to main file?

{% if pgbackrest_dir is defined %}
archive_mode='on'
archive_command='pgbackrest --stanza={{ pgbackrest_stanza }} archive-push %p'
{% endif %}
