; created by ansible

;      regexp: "^;?listen_addr ="
;      line: "auth_type = md5"
;      line: "pool_mode = {{ pool_mode }}"
;      line: "server_reset_query_always = {{ server_reset_query_always }}"
;      regexp: "^;?max_client_conn ="
